@model Friends.Models.FriendModel

@{
    ViewBag.Title = "NewFriend";
}

<h2>Add a new Friend</h2>


@using (Html.BeginForm("NewFriend", "Friend"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Id, "ID")
        @Html.TextBoxFor(m => m.Id, new { @class = "form-control", type = "number", min = "0", max = "200" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Ime, "Name")
        @Html.TextBoxFor(m => m.Ime, new { @class = "form-control", required = "" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.MestoZiveenje, "Address")
        @Html.TextBoxFor(m => m.MestoZiveenje, new { @class = "form-control", required = "" })
    </div>
    <br />

    <button type="submit">Submit</button>
    <button type="submit" formaction="ShowFriends" formnovalidate>Back</button>
}

